
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: black;
    max-width: 850px;
    margin: 100px auto;
    padding: 50px;
    background-color: white;
    font-size : 20px;
}

h1 {
  color:black;
  font-size: 50px;
  text-align: center;
}

.flag {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: red;
  position: middle;
}

h2 {
  margin-bottom: 2px;
  color: blue;
  padding-bottom: 5px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-menu li {
  margin: 0 15px;
}
.nav-menu a {
  text-decoration: none;
  font-size: 20px;
}
.nav-menu a:hover {
  color: pink;
}

.caption {
  text-align: center;
  color:blue;
  font-size: 25px;
}


.image-row{
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  color:black
}
.image-box {
  text-align: center;
}
.image-box img {
  width: 670px;
  height: 800px;
  object-fit: cover;
}
.image-box img{
    width: 700px;
    border-radius:8px;
}

.video-box {
  text-align: center;
  font-size: 24px;
  color: black;
}
.video-box video {
  width: 100%;
  max-width: 700px;
  border-radius:8px;
}