

/**index.html**/

h1 {
  color:black;
  font-size: 50px;
  text-align: center;
}

.flag {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: red;
  position: middle;
}

